
{% extends base_template|default:"base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script src="{% static 'kagi/u2f-api.js' %}"></script>
<script src="{% static 'kagi/base64js.min.js' %}"></script>
<script>
    window.Kagi = window.Kagi || {};
    Kagi.begin_activate = '{% url 'kagi:begin-activate' %}';
    // Kagi.begin_assertion = '/kagi/api/begin-assertion/';
    // Kagi.verify_credential_info = '/kagi/api/verify-credential-info/';
    // Kagi.verify_assertion = '/kagi/api/verify-assertion/';
</script>
{{ block.super }}

<div id="u2f-not-defined-error" style="display: none">
    {% blocktrans %}
    You must be using a compatible browser to use a U2F security key.
    The following browsers are known to be compatible
    {% endblocktrans %}
    <ul>
      <li>{% trans 'Chrome 41 and higher' %}
    </ul>
</div>
{% endblock %}
