name: CI

on: [push, pull_request]

env:
  FORCE_COLOR: "1" # Make tools pretty.
  TOX_TESTENV_PASSENV: FORCE_COLOR
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"

jobs:
  test:
    name: Test - Python ${{ matrix.python-version }} - Django ${{ matrix.django-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
        django-version:
          - "3.2"
          - "4.1"
          - "4.2"
        exclude:
          # Django 3.2 is compatible with Python <= 3.10
          - python-version: "3.11"
            django-version: "3.2"

          # Django 4.1 is compatible with Python >= 3.8
          - python-version: "3.7"
            django-version: "4.1"

          # Django 4.2 is compatible with Python >= 3.8
          - python-version: "3.7"
            django-version: "4.2"

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Pip cache
        uses: actions/cache@v3
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/pyproject.toml') }}
      - name: Upgrade Pip
        run: python -m pip install --upgrade pip
      - name: Install Poetry
        run: python -m pip install poetry
      - name: Set up Poetry cache
        uses: actions/cache@v3
        id: poetry-cache
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
      - name: Install Django
        run: |
          poetry run pip install --upgrade pip
          poetry run pip install "Django~=${{ matrix.django-version }}.0"
      - name: Python and Django versions
        run: |
          poetry run echo "Python ${{ matrix.python-version }} -> Django ${{ matrix.django-version }}"
          poetry run python --version
          poetry run echo "Django `django-admin --version`"
      - name: Install dependencies
        run: |
          poetry install
      - name: Run tests
        run: poetry run invoke tests


  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Set Poetry cache
        uses: actions/cache@v3
        id: poetry-cache
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
      - name: Upgrade Pip
        run: python -m pip install --upgrade pip
      - name: Install Poetry
        run: python -m pip install poetry
      - name: Install dependencies
        run: |
          poetry run pip install --upgrade pip
          poetry install
      - name: Run linters
        run: poetry run invoke lint

  prep-release:
    name: Release preparations
    environment: Deployment
    needs: [test, lint]
    runs-on: ubuntu-latest
    if: ${{ github.ref=='refs/heads/main' && github.event_name!='pull_request' }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Check release
        id: check_release
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry autopub[github]
          echo "release=$(autopub check)" >> "$GITHUB_OUTPUT"
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "release<<$EOF" >> "$GITHUB_OUTPUT"
          autopub check >> "$GITHUB_OUTPUT"
          echo "$EOF" >> "$GITHUB_OUTPUT"
      - name: Tag & Create GH release
        if: ${{ steps.check_release.outputs.release=='' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git remote set-url origin https://$GITHUB_TOKEN@github.com/${{ github.repository }}
          autopub prepare
          autopub build
          autopub commit
          autopub githubrelease
