---
name: Build & upload PyPI package

on:
  release:
    types:
      - published

jobs:
  build-package:
    name: Build & verify package
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: hynek/build-and-inspect-python-package@v1

  release-pypi:
    name: Publish released package to pypi.org
    environment: release-pypi # TODO: how to name the env
    if: github.event.action == 'published'
    runs-on: ubuntu-latest
    needs: build-package
    permissions:
      id-token: write

    steps:
      - name: Download packages built by build-and-inspect-python-package
        uses: actions/download-artifact@v3
        with:
          name: Packages
          path: dist

      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/ # TODO: Move over to actual PyPI
